/*CSS para index CATALOGO */

:root{
    --font-family: 'Rajdhani', sans-serif;
    --font-size: 20px;
    --font-weight: 300;

    --color-primario: #84DCC6;
    --color-secundario: #C7F9F1 ;
    --color-terciario: #F0FFF3 ;
    --color-cuarto: #D5D8DC ;
    --color-quinto: #2B2D42 ;
  

  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-shadow: 0 0 0.2em var(--color-primario);
    
    
  }
  
  html {
    scroll-behavior: smooth;
    }
  
  body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    background-color: var(--color-quinto);
    color: var(--color-secundario);
  }
  
  main {
    text-align: center;
    
    min-height: calc(100vh - 136px);
    border-radius: 3px;
    padding: 2rem 2rem;
    margin: 1.5rem; 
  }
  
  h1 {
    font-size: 1.75rem;
    margin-bottom: 20px; 
  }
  
  #inicio{
   text-align: center;
  }
  .imagen{
    
    justify-content: center;
    
    
    box-shadow: var(--color-primario) 0px 2px 4px 0px, var(--color-primario) 0px 2px 16px 0px;
    padding: 4%;
    margin: 2%;
    margin-left:40%;
    width: 20%;
    border-radius: 45%;
    background-color: var(--color-cuarto);
  }
  
  .imagen> img{
    width: 160px;
  }
  
  .texto{
    background-color: var(--color-cuarto);
    width: 80%;
    margin-left:10%;
    padding: 4%;
    text-align: center;
    border-radius: 2%;
    box-shadow: var(--color-primario) 0px 7px 29px 0px;
   
  }
  /* #region GENERAL */ 
  
  
  /* #endregion */
  
  
  /* #region HEADER */
  header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-terciario);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.10);
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-height: 70px;
  min-height: 70px;
  height: 70px; 
  
  box-shadow: var(--color-primario) 0px 10px 10px -10px;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0; 
  }
  header nav li {
    justify-content: space-evenly;
    margin-right: 20rem;
    padding: 0.5rem 2rem;
    transition: color 0.3s ease; 
    
  }
    header nav li:hover {
      background: var(--color-cuarto);
      border-radius: 8px; 
      box-shadow: var(--color-primario) 0px 2px 5px -1px, var(--color-primario) 0px 1px 3px -1px;
      
  }
  header nav a {
    text-decoration: none;
    color: var(--color-secundario);
    font-weight: bold; 
    
  }
  header > img{
    display: flex;
    width: 70px;
    justify-content: flex-start;
    margin-left: 2%;
  }
  
  /* #region TABLE */
  
  .table-container {
    max-width: 100%;
    overflow-x: auto; }
  
  table {
    
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    font-size:1.75rem;
    box-shadow: 0 0 20px var(--color-primario); }
    table thead tr {
      background-color: var(--color-cuarto);
      color: var(--color-secundario);
      text-align: left; 
    
    }
      table thead tr th {
        border: none;
        font-size: 1.125rem;
        padding: 2rem 1.25rem;
        white-space: nowrap;
        text-align: center;
      }
    table tbody tr {
      border-bottom: none; }
      table tbody tr:nth-of-type(even) {
        background-color: var(--color-terciario); }
      
      table tbody tr td {
        padding: 1rem 1.25rem;
        border: none;
        white-space: wrap; }
        table tbody tr td img {
          max-width: 100px;
          height: auto; }
  
  #message-not-found {
    display: none;
    text-align: center;
    font-size: 1rem;
    padding: 2rem; }
  
  /* Estilos para la sección de filtros */
  #filter-section {
  
    background-color: var(--color-terciario);
    padding: 2rem;
    border: none;
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    border-radius: 3px; }
  
  /* Estilos para los campos de filtro */
  input[type="text"]{
    flex-grow: 2;
    min-width: 200px;
    background-color:var(--color-cuarto) ;
    color: var(--color-secundario);
    font-size: 1rem;
    padding: 1rem;
    border: 0.60px solid var(--color-quinto);
    border-radius: 3px;
  }input[type="number"] {
    flex-grow: 2;
    min-width: 200px;
    background-color:var(--color-cuarto) ;
    color: var(--color-secundario);
    font-size: 1rem;
    padding: 1rem;
    border: 0.60px solid var(--color-quinto);
    border-radius: 3px; }
    input[type="text"]:focus{
      background-color:var(--color-cuarto) ;
      color: var(--color-secundario);
    }
    input[type="text"]:hover{
      background-color:var(--color-cuarto) ;
      color: var(--color-secundario);
    }
    input[type="text"]:active{
      background-color:var(--color-cuarto) ;
      color: var(--color-secundario);
    }
    input[type="number"]:focus{
      background-color:var(--color-cuarto) ;
      color: var(--color-secundario);
    }
    input[type="number"]:hover{
      background-color:var(--color-cuarto) ;
      color: var(--color-secundario);
    }
    input[type="number"]:active {
      background-color:var(--color-cuarto) ;
      color: var(--color-secundario);
    }
  
  /* Estilos para el botón del filtro */
  button {
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
    transition: background-color 0.3s;
    font-size: 1rem;
    padding: 1rem 1.5rem; }
    button#apply-filters {
      background-color: var(--color-terciario);
      border-radius: 8px; 
      border: 1px solid var(--color-cuarto);
      color: var(--color-secundario); }
    button#apply-filters:hover {
      background: var(--color-cuarto);
      border-radius: 8px; 
      box-shadow: var(--color-primario) 0px 2px 5px -1px, var(--color-primario) 0px 1px 3px -1px; }
    button#reset-filters {
      background-color: var(--color-terciario);
      border-radius: 8px; 
      border: 1px solid var(--color-cuarto);
      color: var(--color-secundario); }
    button#reset-filters:hover {
      background: var(--color-cuarto);
      border-radius: 8px; 
      box-shadow: var(--color-primario) 0px 2px 5px -1px, var(--color-primario) 0px 1px 3px -1px;}
  
  
  
  
  /* #endregion */